html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body {
  height: 100%;
  max-width: 100%;
 /* overflow-x: hidden; */
}

body{
	font-family: 'Montserrat', sans-serif;
}


/* landing page style */
#header{
	position: absolute;
	height:100px;
	width: 100%;
	background-color: #F7F7F7;
}


/* navigation style */
#header nav{
	width: 100%;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#header nav ul{
	width: 100%;
	position: relative;	
	top: 10px;
}

#header nav ul li:first-child{
	margin-left: 120px;
}

#header nav ul li{
	display: inline;
	margin-left: 40px;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.hover-animate {
    display: inline-block; 
}

.hover-animate::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    position: relative;
    top: 10px;
    background: #162B53;
    transition: width .3s;
}

.hover-animate:hover::after {
    width: 100%;
    //transition: width .3s;
}

#header nav ul li a{
	text-decoration: none;
	color: #A31D29;
}

#header nav ul li:last-child a{
	float: right;
	margin-right: 10%;
	color: #FFF;
}


#nav-logo{
	content: '';
	width: 145px;
	height: 145px;
	position: absolute;
	top:20px;
	left: 125px;
	background: url("../images/logo.png") no-repeat center center;
	background-size: 100%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); 
}

#nav-border{
		position: absolute;
		border-right: 1px solid grey;
		opacity: .4;
		height: 60px;
		left: 245px;
		top: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%); 
}

/* get a quote button style */
#quote-btn, #learn-btn {
	position: relative;
	bottom: 10px;
	font-family: 'Robot Condensed';
	box-shadow:inset 0px 0px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #A31D29 5%, #CE2027 100%);
	background-color:#A31D29;
	border-radius:2px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-transform: uppercase;
	font-size:16px;
	padding:10px 22px;
	text-decoration:none;
	text-shadow:0px 0px 0px #854629;
}
#quote-btn:hover, #learn-btn:hover {
	background:linear-gradient(to bottom, #CE2027 5%, #A31D29 100%);
	background-color:#CE2027;
	text-decoration:none;
}
#quote-btn:active, #learn-btn:active {
	text-decoration:none;
}

/* landing page background */


#landing-page{
	background-image: url("../images/bg-10.jpg");
	background-color: #cccccc;
	height: 100%;
	width: 100%; 
    background-position: 50% calc(50% + 50px);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    background-attachment: fixed;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* cta header*/

#cta{
	height: 100vh;
	width: 100%;
}

#cta h1, #cta h4{
	position: relative;
	top: 45%;
	transform: translateY(50%);
	font-family: 'Roboto Condensed';
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
} 

#cta h1{
	font-weight: bold;
}

#cta h4{
	top: 50%;
    font-size: 24px;
    font-weight: normal;
}

/* learn more button */
#learn-btn{
	display: block;
	top: 60%;
	width: 175px;
	margin: 0 auto;

}
/* about style */

#about{
	width: 100%;
	background-color: #F7F7F7;
	padding: 60px 0 80px;
}

#about h2{
	font: bold 40px 'Roboto Condensed';
	text-transform: capitalize;
	color: #A31D29;
	text-align: center;
	margin-top: ;
}

#about p{
	width: 66%;
	margin: 60px auto 0;
}

/* windows & doors style */

#windows-doors{
	height: 450px;
	width: 100%;
	background-color: #A31D29;
}

#windows-doors h2, #windows-doors h3{
	position: relative;
	top: 100px;
	font: bold 52px 'Roboto Condensed';
	text-transform: capitalize;
	color: #FFF;
	text-align: center;
	margin-right: 40px;
}

#windows-doors h3{
  	font-size: 24px;
  	top: 140px;
}

/* Testimonials */

#testimonials{
	
}



